@model Bouffage.ViewModels.RecipeAndCommentsViewModel

@{
    ViewData["Title"] = "All Recipes";
}

<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="~/css/Recipe.css" />

<p>
    <a asp-action="Create">Create New</a>
</p>

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@foreach (var item in Model.Recipes)
{
    <div class="card border-secondary mb-3" style="width: 60%; margin: auto ">
        <span id="@item.RecipeId"></span>

        <div class="card-header">
            <h4 style="margin: 0px;">
                <p style="margin: 0px;">
                    @Html.DisplayFor(modelItem => item.Title)
                </p>
            </h4>
        </div>

        <div class="card-body">
            <a class="username inline" asp-controller="Users" asp-action="GetThisGuysProfile" asp-route-id="@item.User.UserId">
                @Html.DisplayFor(modelItem => item.User.Username)
            </a>
            @{
                var cookie = HttpContextAccessor.HttpContext.Request.Cookies["MyCookie"];
                string[] list = { "", "", "" };
                if (cookie != null)
                {
                    list = cookie.Split("&%&");
                }

                int Useruserid = 0;
                Int32.TryParse(list[0], out Useruserid);
                var Userusername = list[1];
                var UserRole = list[2];

                var time = DateTime.Now;
                string upvote = "u&%&" + item.User.UserId + "&%&" + item.RecipeId;
                string downvote = "d&%&" + item.User.UserId + "&%&" + item.RecipeId;

                <form class="voting" asp-action="VoteRecipe" asp-controller="VoteRecipes" method="POST">
                    <input type="hidden" name="recipe" value=@item.RecipeId />

                    <label id="arrow">
                        @item.Upvotes
                        <input type="radio" name="vote" id="upvote" value=@upvote onclick="submit()">
                        <img src="~/Images/uvote.png" alt="placeholder">
                    </label>

                    <label id="arrow">
                        <input type="radio" name="vote" id="downvote" value=@downvote onclick="submit()">
                        <img src="~/Images/dvote.png" alt="placeholder">
                        @item.Downvotes
                    </label>
                </form>

                if (UserRole == "Admin" || Useruserid == item.User.UserId)
                {
                    <a class="cancelbtn" style="float: right" asp-area="" asp-controller="Recipes" asp-action="Delete" asp-route-id=@item.RecipeId>Delete</a>
                }
            }
        </div>

        <img style="width: 100%; height: auto; display: block;" src="~/Recipe Images/Sampinjoni.jpg" alt="Card image">

        <div class="card-body">
            <p class="card-text">@Html.DisplayFor(modelItem => item.Essay)</p>
            <br />

            <p>
                @Html.DisplayFor(modelItem => item.Preparation)
            </p>
        </div>

        <ul class="list-group list-group-flush">
            @foreach (var ingredient in Model.Ingredients)
            {
                @if (ingredient.RecipeId == item.RecipeId)
                {
                    <li class="list-group-item">
                        @Html.DisplayFor(modelItem => ingredient.IngredientUsed)
                    </li>
                }
            }
        </ul>
        <br />


        @foreach (var comment in Model.Comments)
        {
            @if (comment.CommentOnRecipeId == item.RecipeId)
            {
                <div class="card text-white bg-info mb-3" style="width: auto;">
                    <div class="card-header">
                        @foreach (var user in Model.Users)
                            @if (comment.UserCommentedId == user.UserId)
                            {
                                <a class="username inline" asp-controller="Users" asp-action="GetThisGuysProfile" asp-route-id="@user.UserId">
                                    @Html.DisplayFor(modelItem => user.Username)
                                </a>

                                string comment_upvote = "u&%&" + user.UserId + item.RecipeId;
                                string comment_downvote = "d&%&" + user.UserId + item.RecipeId;

                                <form class="voting" asp-action="VoteComment" asp-controller="VoteComments" method="POST">
                                    <input type="hidden" name="comment" value=@comment.CommentId />

                                    <label id="arrow">
                                        @comment.Useful
                                        <input type="radio" name="vote" id="upvote" value=@comment_upvote onclick="submit()">
                                        <img src="~/Images/uvote.png" alt="placeholder">
                                    </label>

                                    <label id="arrow">
                                        <input type="radio" name="vote" id="downvote" value=@comment_downvote onclick="submit()">
                                        <img src="~/Images/dvote.png" alt="placeholder">
                                        @comment.Useless
                                    </label>
                                </form>

                                if (UserRole == "Admin" || Useruserid == item.User.UserId)
                                {
                                    <a class="cancelbtn" style="float: right" asp-area="" asp-controller="Comments" asp-action="Delete" asp-route-id=@comment.CommentId>Delete</a>
                                }
                            }
                        </div>
                        <div class="card-body">
                            <h5 class="card-text">
                                @Html.DisplayFor(modelItem => comment.Critique)
                            </h5>
                        </div>
                        <div class="card-footer">
                            @Html.DisplayFor(modelItem => comment.CommentPosted)
                        </div>
                    </div>
            }
        }
        @{             
            <div class="card text-white bg-info mb-3" style="width: auto;">
                <div class="card-body">
                    <form asp-action="LeaveAComment" asp-controller="Comments" style="border: none" method="POST">
                        <input type="hidden" name="recipe_commented" value=@item.RecipeId>
                        <input class="comment" type="text" style="width: 45%" name="critique" placeholder="Leave a comment...">

                        <div class="btn-group" style="float: right" role="group" aria-label="Button group with nested dropdown">
                            <button type="submit" name="type" class="leavecomment" value=@Comment.TypeOfC.Comment >Comment!</button>
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="leavecomment dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <button type="submit" name="type" class="dropdown-item" value=@Comment.TypeOfC.Question>Question</button>
                                    <button type="submit" name="type" class="dropdown-item" value=@Comment.TypeOfC.Tip>Tip</button>
                                    <button type="submit" name="type" class="dropdown-item" value=@Comment.TypeOfC.Review>Review</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
          }

        <div class="card-footer text-muted">
            @Html.DisplayFor(modelItem => item.PostingDate)
        </div>

    </div>

}
