<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bouffage</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap2.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Modal.css" />
</head>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<body>
    <!-- The Modal -->
    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'"
              class="close" title="Close Modal">&times;</span>

        <!-- Modal Content -->
        <form class="modal-content animate" style="margin-top: 3%;" asp-controller="Users" asp-action="Authenticate" method="POST">
            @{
                var errors = HttpContextAccessor.HttpContext.Request.Cookies["error"];
                string[] errorlist = { "", "", "" };
                if (errors != null)
                {
                    errorlist = errors.Split("&%&");
                    <script>
                        document.getElementById('id01').style.display = 'block';
                    </script>
                }
                var email = errorlist[1];
                var error = errorlist[0];
                Microsoft.AspNetCore.Http.CookieOptions cookieOptions = new Microsoft.AspNetCore.Http.CookieOptions();
                cookieOptions.Expires = DateTime.Now.AddDays(-1);
                @if (errors != null)
                {
                    HttpContextAccessor.HttpContext.Response.Cookies.Append("MyCookie", "", cookieOptions);
                    HttpContextAccessor.HttpContext.Response.Cookies.Append("error", "", cookieOptions);
                }

                if (email == null)
                {
                    email = "";
                }
                <div class="container">
                    <label for="Email"><b>Е-пошта</b></label>
                    <input type="text" placeholder="Enter email" name="Email" value="@email" required>
                    <br>
                    @if (error != null)
                    {
                        <h6 style="color: red">@error</h6>
                    }
                    <label for="Password"><b>Лозинка</b></label>
                    <input type="password" placeholder="Enter Password" name="Password" required>

                </div>
            }

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <button type="submit" style="float: right;">Login</button>
            </div>
        </form>
        <span onclick="document.getElementById('id01').style.display='none'"
              class="close" title="Close Modal">&times;</span>

        <script>
            // Get the modal
            var modal = document.getElementById('id01');

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
    </div>


    <header>
         
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Images/bouffage.png" alt="Bouffage" style="max-height: 45px;" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Recipes" asp-action="Index">Recipes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                        </li>
                    </ul>
                </div>
                @{
                    var showlogin = ViewData["show"];
                    if (showlogin == null)
                    {
                        showlogin = false;
                    }
                    if ((bool)showlogin == true)
                    {
                        <script>
                            document.getElementById('id01').style.display = 'block';
                        </script>
                    }

                    var cookie = HttpContextAccessor.HttpContext.Request.Cookies["MyCookie"];
                    string[] list = { "", "", "" };
                    if (cookie != null)
                    {
                        list = cookie.Split("&%&");
                    }

                    var Useruserid = list[0];
                    var Userusername = list[1];
                    var UserRole = list[2];

                    if (Userusername == "")
                    {
                        <a class="nav-link text-dark changeable" id="login-button" asp-area="" asp-controller="Users" asp-action="SignUp"> Sign up </a>

                        <input type="button" class="nav-link text-dark changeable" value="Log in" id="login-button" onclick="document.getElementById('id01').style.display='block'" />
                    }
                    else
                    {
                        <ul class="navbar-nav changeable">
                            <li class="nav-item">
                                <a class="nav-link text-dark" style="right: 0" asp-area="" asp-controller="Users" asp-action="GetThisGuysProfile" asp-route-id=@Useruserid>@Userusername</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Logout">Log out</a>
                            </li>
                        </ul>
                    }

                }
                </div>
        </nav>
    </header>
    <div style="margin-left: 2%; margin-right: 2%; padding: unset; border: none; margin-top: 6%">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <br />
    <footer class="border-top footer text-muted" style="margin-top: 20px;">
        <div class="container">
            &copy; 2020 - Bouffage - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
