@model Bouffage.Models.VoteComment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VoteComment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentGotVoted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentGotVoted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment.Critique)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpOrDown)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpOrDown)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VoteCommentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
