@model IEnumerable<Bouffage.Models.Following>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserFollowing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserFollowee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFollowed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserFollowing.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserFollowee.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFollowed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FollowingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FollowingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FollowingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
