@model Bouffage.Models.Comment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Critique)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Critique)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentPosted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentPosted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Useful)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Useful)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Useless)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Useless)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfComments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserCommentedId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserCommentedId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentOnRecipeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentOnRecipeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reply)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reply.Critique)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CommentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
